.dropup--container {
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: calc(100% + 12px);
  width: 260px;
  z-index: 1000;
}

.dropup--wrapper {
  backdrop-filter: blur(2px);
  padding: 6px;
  border-radius: 10px;
  background-color: var(--light-bg-color);
}

.dropup--wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  user-select: none;
}

.dropup--wrapper ul li {
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  padding-left: 15px;
  align-items: center;
  text-transform: capitalize;
  background-color: var(--background);
  border-radius: 6px;
  font-family: var(--small);
  font-size: 16px;
}
.dropup--wrapper ul li.active {
  background-color: var(--text);
  color: var(--background);
}
