.home--container {
  width: 100%;
  max-width: 1300px;
  /* min-height: 100vh; */
  display: flex;
  align-items: start;
}
.left,
.right {
  margin-top: 50px;
  flex: 1 0 50%;
  display: flex;
}
.left {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left h1 {
  position: relative;
  font-size: clamp(2rem, 4.5vw, 4.5rem);
  color: var(--text);
  font-family: var(--large);
  z-index: 0;
}

.left .btns {
  display: flex;
  gap: 20px;
}
.left .btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: var(--medium);
  font-size: 20px;
  border: 0;
  color: var(--text-btn-primary);
  height: 50px;
  padding: 0 40px;
  background-color: var(--primary);
  transition: 0.2s;
}
.left .btns .btn.special {
  border: 0;
  color: var(--text-btn-secondary);
  background-color: var(--secondary);
}

.left .btns .btn:hover {
  translate: 0 -3px;
  box-shadow: 0px 15px 80px -20px var(--primary);
}
.left .btns .btn.special:hover {
  translate: 0 -3px;
  box-shadow: 0px 15px 80px -20px var(--secondary);
}
.circle {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 75%;
  width: 200px;
}
.gredient--1 {
  color: transparent;
  background-image: linear-gradient(
    135deg,
    var(--primary),
    var(--primary-light)
  );
  background-clip: text;
}
.gredient--2 {
  color: transparent;
  background-image: linear-gradient(135deg, var(--accent), var(--secondary));
  background-clip: text;
}
.gredient--3 {
  color: transparent;
  background-image: linear-gradient(135deg, var(--secondary), var(--primary));
  background-clip: text;
}
.gredient--4 {
  color: transparent;
  background-image: linear-gradient(
    135deg,
    var(--text-light),
    var(--background-transparent-1)
  );
  background-clip: text;
}

.left p {
  color: var(--text);
  font-family: var(--small);
  font-size: 16px;
  line-height: 2.5;
}

.left p.flex {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.right {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artwork {
  width: clamp(300px, 100%, 80vw);
}
.primary {
  fill: var(--primary);
}
.secondary {
  fill: var(--secondary);
}
.accent {
  fill: var(--accent);
}
.text {
  fill: var(--text);
}
.primary--primary {
  fill: var(--primary);
}
.artwork path,
.artwork rect {
  transition: 0.2s color;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.cls-1 {
  fill: var(--primary);
}
.cls-2 {
  fill: var(--accent);
}
.cls-3 {
  fill: var(--secondary);
}

@media screen and (max-width: 1350px) {
  .home--container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .artwork {
    width: clamp(300px, 100%, 100vw);
  }
  .left .btns {
    display: flex;
    flex-direction: column;
  }
  .left .btns .btn {
    font-size: 18px;
  }
}
