:root {
  --bg: red;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--text);
}
::-webkit-scrollbar-thumb {
  background-color: var(--background);
}
::selection {
  background-color: var(--light-bg-color);
}
