:root {
  --large: "Varela", sans-serif;
  --medium: "Yantramanav", sans-serif;
  --small: "Poppins", sans-serif;
  --shadow: 14.4px 14.9px 50.1px -20px rgba(0, 0, 0, 0.041),
    30px 31px 143px -20px rgba(0, 0, 0, 0.22);
}
