:root {
  --large: "Varela", sans-serif;
  --medium: "Yantramanav", sans-serif;
  --small: "Poppins", sans-serif;
  --shadow: 2.2px 0.9px 2.2px rgba(0, 0, 0, 0.004),
    7.5px 3px 5.3px rgba(0, 0, 0, 0.008), 17.2px 6.9px 10px rgba(0, 0, 0, 0.013),
    33.5px 13.4px 17.9px rgba(0, 0, 0, 0.02),
    62.1px 24.8px 33.4px rgba(0, 0, 0, 0.032),
    130px 52px 80px rgba(0, 0, 0, 0.07);
}
