.toolBar--container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  translate: -50% 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px;
  color: var(--text);
}

.toolbar--wrapper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  gap: 6px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.colorScheme-container {
  position: relative;
}
.colorScheme-container i {
  position: absolute;
  right: 5px;
  width: 40px;
  border-radius: 6px;
  font-size: 16px;
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorScheme-container i.flip {
  rotate: 180deg;
}
.btn {
  cursor: pointer;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border: 0;
  border-radius: 6px;
  font-family: var(--medium);
  text-transform: capitalize;
  background-color: var(--background);
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  scale: 0.98;
}

.btn:active {
  scale: 0.9;
}

.btn.large {
  width: 120px;
}

.btn.xlarge {
  width: 250px;
  justify-content: start;
  padding-left: 20px;
}
.btn.xlarge.btn:hover {
  scale: 1;
}
.btn.xlarge.btn:active {
  scale: 1;
}
.icon {
  font-size: 20px;
}

.toolBar--palette {
  flex: 1 0;
  display: flex;
  gap: 6px;
  border-radius: 8px;
}

.toolBar--palette div {
  flex: 1 0;
  height: 50px;
  color: var(--background);
  font-family: var(--small);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 14px;
  font-family: var(--small);
  text-transform: capitalize;
}
