.toolBar--container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 60px;

  display: flex;
  justify-content: center;
}

.toolbar--wrapper {
  display: flex;
  background-color: #efecea;
  min-width: 1000px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.toolBar--palette {
  display: flex;
  gap: 5px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.toolBar--palette div {
  flex: 0 0 110px;
  color: white;
  font-family: var(--small);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
