.toolBar--container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  translate: -50% 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px;
  color: var(--text);
}
i {
  font-size: 18px;
}
.toolbar--wrapper {
  backdrop-filter: blur(2px);
  max-width: 1300px;
  width: 100%;
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: var(--background-transparent);
}
.colorScheme-container {
  position: relative;
}
.colorScheme-container i {
  position: absolute;
  right: 5px;
  width: 40px;
  border-radius: 6px;
  font-size: 16px;
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorScheme-container i.flip {
  rotate: 180deg;
}

i.flip-h {
  rotate: 180deg;
}
.toolbar--wrapper .btn.disabled {
  opacity: 0.5;
}
.toolbar--wrapper .btn {
  border: 1px solid var(--background-transparent);
  cursor: pointer;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 50px;
  border: 0;
  border-radius: 6px;
  font-family: var(--medium);
  text-transform: capitalize;
  background-color: var(--background);
  color: var(--text);
  font-size: 20px;
  transition: 0.3s scale;
}

.toolbar--wrapper .btn.large {
  width: 120px;
}

.toolbar--wrapper .btn.xlarge {
  width: 230px;
  justify-content: start;
  padding-left: 15px;
}

.toolbar--wrapper .btn.xlarge.btn:hover {
  scale: 1;
}

.toolbar--wrapper .btn.xlarge.btn:active {
  scale: 1;
}

.toolbar--wrapper .icon {
  font-size: 20px;
}
.palette--item {
  flex: 1;
  padding: 0 20px;
  position: relative;
  height: 50px;
  color: var(--background);
  font-family: var(--small);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 16px;
  font-family: var(--small);
  text-transform: capitalize;
  transition: 0.2s;
  user-select: none;
}

.palette--item:hover i {
  opacity: 1;
}
.palette--item i {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  padding: 6px;
  cursor: pointer;
  transition: 0.25s;
}
.palette--item i.fa-lock {
  opacity: 1;
}

.color--picker {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  translate: -50% 0;
}
