.footer--container {
  width: 100%;
  max-width: 1300px;
  background-color: var(--background-transparent);
  border-radius: 6px;
}
.footer--wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 40px;
  flex-direction: column;
  padding: 50px 60px;
}
.footer--wrapper > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--text);
}
.footer--wrapper .footer--logo {
  width: 40px;
}

.footer--wrapper h1 {
  font-family: var(--large);
  font-size: 18px;
}
.footer--buyMeCoffee-link {
  display: flex;
  flex-direction: column;
  font-family: var(--large);
  font-size: 18px;
  flex: 1 0;
  text-decoration: none;
  color: var(--text);
  gap: 10px;
}
.footer--buyMeCoffee-link svg {
  width: 160px;
}
.footer--links-conatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer--links-conatiner div {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}
.footer--links-conatiner div > h2 {
  font-family: var(--large);
  margin-bottom: 40px;
  font-size: 30px;
}

.footer--links-conatiner div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer--links-conatiner div ul li a {
  color: var(--text);
  font-size: 18px;
  display: flex;
  gap: 10px;
  text-decoration: none;
  font-family: var(--small);
  font-weight: 300;
  align-items: center;
}

.footer--links-conatiner div ul li a:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.footer--bottom-section {
  width: 100%;
  border-top: 1px solid var(--background-transparent-1);
  background-color: var(--background-transparent);
  padding: 20px 40px;
  border-radius: 0 0 6px 6px;
}

.footer--bottom-section div {
  display: flex;
  flex-direction: column;
}
.footer--bottom-section div p {
  color: var(--text);
  font-size: 16px;
  font-family: var(--small);
  font-weight: 300;
}
.footer--bottom-section div p a {
  color: var(--text);
  position: relative;
}
@media screen and (max-width: 1350px) {
  .footer--links-conatiner {
    flex-direction: column;
    gap: 40px;
  }
  .footer--wrapper {
    padding: 40px 20px;
  }
  .footer--bottom-section {
    padding: 30px 20px;
  }
  .footer--links-conatiner div > h2 {
    margin-bottom: 20px;
  }
}
