.header--container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  color: var(--text);
}

.header--wrepper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--text) 5%, transparent 95%);
}
.header--wrepper h1 {
  font-family: var(--large);
  font-size: 20px;
}
.header--logo {
  width: 40px;
}
.header--logo path,
.header--logo rect {
  transition: 0.1s;
}
.header--container a {
  font-family: var(--medium);
  font-size: 18px;
  color: rgb(80, 80, 80);
  border-radius: 6px;
  height: 60px;
  width: 180px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.header--container a:active {
  scale: 0.9;
}

.cls-1 {
  fill: var(--primary);
}
.cls-2 {
  fill: var(--accent);
}
.cls-3 {
  fill: var(--secondary);
}
