.header--container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  border-bottom: 1px solid var(--background-transparent-1);
  padding: 0 14px;
}

.header--wrepper {
  max-width: 1300px;
  backdrop-filter: blur(2px);
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}
.header--wrepper > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text);
}
.header--wrepper h1 {
  font-family: var(--large);
  font-size: 20px;
}
.header--logo {
  width: 50px;
  transition: 0.8s;
}
.header--logo:hover {
  rotate: 360deg;
}
.header--logo path,
.header--logo rect {
  transition: 0.1s;
}

.cls-1 {
  fill: var(--primary);
}
.cls-2 {
  fill: var(--accent);
}
.cls-3 {
  fill: var(--secondary);
}

@media screen and (max-width: 1350px) {
  .header--wrepper {
    justify-content: center;
  }
}
