.header--container {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.header--wrepper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--text) 5%, transparent 95%);
}

.header--logo {
  width: 120px;
  height: auto;
}
.header--logo path,
.header--logo rect {
  transition: 0.2s;
}
.header--container a {
  font-family: var(--medium);
  font-size: 18px;
  color: rgb(80, 80, 80);
  border-radius: 6px;
  height: 60px;
  width: 180px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.header--container a:active {
  scale: 0.9;
}
