.why--container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 120px 0;
}
.why--container h1 {
  color: var(--text);
  font-family: var(--large);
  font-weight: 300;
  font-size: clamp(1.8rem, 3vw, 4rem);
  padding: 0 20px;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.why--container .card {
  flex: 1 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  gap: 25px;
  color: var(--text);
  background-color: var(--background-transparent);
  border: 1px solid var(--primary-transparent-2);
}

.why--container .card svg {
  display: flex;
  width: 120px;
  margin-bottom: 20px;
}
.why--container .card h2 {
  font-size: 22px;
  font-family: var(--large);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.why--container .card.color1 h2::after {
  display: none;
}
.why--container .card.color2 h2::after {
  display: none;
}
.why--container .card h2::after {
  display: none;
}

.why--container .card p {
  font-family: var(--small);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .cards {
    flex-direction: column;
  }
  .why--container .card {
    padding: 30px 20px 20px 20px;
  }
  .why--container .card p {
    font-size: 16px;
  }
}
