.template--container {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  top: 0%;
  left: 0%;
  padding: 0 30px;
  padding-top: 80px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 150px;
}
@media screen and (max-width: 1350px) {
  .template--container {
    padding-bottom: 80px;
    gap: 100px;
    padding: 0 14px;
  }
}
