.template--container {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  top: 0%;
  left: 0%;
  padding: 0 50px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
